[Desktop Entry]
Name=ハイブリッドスリープ (suspend-then-hibernate)
Comment=スリープ後、一定時間で休止状態に移行します
Exec=systemctl suspend-then-hibernate
Icon=system-suspend-hybrid
Terminal=false
Type=Application
Categories=System;
